[Unit]
Description=nvme-snsd service
After=network.target

[Service]
Type=simple
StartLimitInterval=60
StartLimitBurst=3
ExecStart=/usr/bin/nvme-snsd
RemainAfterExit=no
Restart=always

[Install]
WantedBy=multi-user.target
